.rocket-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

img {
  width: 100%;
  height: 100%;
}

.rocket-description-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.rocket-name {
  font-size: 20px;
}

.rocket-description {
  font-size: 16px;
}

.booking-btn {
  border: none;
  border-radius: 9px;
  background-color: rgb(0, 132, 255);
  padding: 5px 10px;
  color: white;
}

.alert-box {
  width: 350px;
  font-size: 32px;
  color: white;
  margin: 100px auto;
  border: white 1px solid;
  border-radius: 9px;
  padding: 50px;
}
