body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(111, 183, 188);
}

li a {
  color: #000;
  text-decoration: none;
}

.planet {
  width: 50px;
}

.active-style {
  color: rgb(111, 183, 188);
  text-decoration: underline;
}
